<div class="container">
  <div class="row">
    <div class="col-12">
      <label
        for="taskStatus"
        class="select-w-100 d-flex justify-content-center align-items-center my-3"
        >Filtrar:
        <select
          id="taskStatus"
          (change)="onStatusChange($event)"
          class="form-control"
        >
          <option value="true">Completadas</option>
          <option value="false">Incompletas</option>
          <option value="null" selected>Todos</option>
        </select>
      </label>
    </div>

    <div class="row" *ngIf="tasks_component().length > 0; else loading">
      <div
        *ngFor="let task of tasks_component()"
        class="col-12 col-md-6 col-lg-4"
      >
        <card-item
          [task]="task"
          (statusChanged)="onTaskStatusChanged($event)"
        />
      </div>
    </div>

    <ng-template #loading>
      <div class="alert alert-primary mt-5" role="alert">
        No hay tareas por el momento
      </div>
    </ng-template>
  </div>
</div>
